.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css  */
h2{
  font-size: 36px;
}
h5{
  font-size: 22px;
}
h6{
  font-size: 18px;
}
p{
  font-size: 18px;
}

.search-bar{
  position: relative;
}

.search-form{
  background-color: #F2F2F2;
}
.icon{
  position: absolute;
  top: 25%;
  right: 5%;
  margin-left: 10px;
  width: 20px;
}
.header-btn{
  text-decoration: none;
  background-color: #fff;
  padding: 8px 0;
  border: none;
  font-weight: 600;
}
.header-btn:hover{
  text-decoration: underline;
}

/* home */
.hero-container{
  width: auto;
  height: 440px;
  background: linear-gradient(#000000af, #2e2e2e36), url('https://images.unsplash.com/photo-1602080858428-57174f9431cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1251&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.container-width{
  margin: 0 auto;
  width: 1040px;
}

.card-img{
  width: auto;
  height: 230px;
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}